.formerleader{
	border: 2px solid red;
	padding: .5rem;
	/* width: fit-content; */
	text-align: center;
	margin: 1rem;
}

.formerleader >h1{
	color: red;
}

.formerleader h2 {
	color: blue;
	text-transform: uppercase;
	font-size: 1rem;
}

.formerleader h4 {
	color: gray;
}

.formerleader__exec{
	border: 2px solid blue;
	border-radius: 5px;
	padding: .5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.formerleader__pres{
	margin: .5rem;
}

.formerLeaderPhoto >img{
	width: 15rem;
	height: 15rem;
	object-fit: contain;
	border-radius: 10%;
}

/* former leaders  */

.formerLeaders__list{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.formerLeaders >h1{
	text-transform: uppercase;
	text-align: center;
	color: green;
	padding-bottom: 1rem;
}

@media only screen and (max-width:800px){
	.formerLeaderPhoto >img{
		width: 10rem;
		height: 10rem;
		object-fit: contain;
		
}}
