.study__content{
	padding: 10rem 20rem;
	background-color: whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.study__content >img{
	width: 100%;
	object-fit: scale-down;
}

.study__content-info{
	color: grey;
	padding-top: 1rem;
}

.study__content-info >h4{
	text-transform: uppercase;
	font-size: 1.5rem;
	margin: 1rem 0;
	color: green;
}

.study__content-info a {
	color: red;
}

@media only screen and (max-width: 600px) {
	.study__content{
		padding: 1rem .5rem;
		background-color: whitesmoke;
		display: flex;
		flex-direction: column;
		justify-content: center;
	
	}
}