.content{
	padding: 5rem 10rem;
}

.content >img{
	width: 100%;
	height: 600px;
	margin: auto;
	object-fit: cover;
}

.content__nav{
	display: flex;
	justify-content: center;
}

.content >h5{
	color: grey;
	padding: .5rem 0;
}

.content >h2{
	color: #1f3c88;
	text-align: center;
	margin-top: 1rem;
}

@media screen and (max-width:600px){
	.content{
		padding: .5rem 1rem;
	}

	.content >img{
		width: 100%;
		height: 600px;
		margin: auto;
		object-fit: contain;
	}
}