.Header{
	display: flex;
	justify-content: space-between;
	padding: .5rem 1.5rem;
	height: 80px;
	background-color: #070d59;
	align-items: center;
	flex-wrap: wrap;
}

.Header__brand{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30%;
	cursor: pointer;	
}


.Header__brand >a>img{
	height: 70px;
	width: 70px;
	object-fit: contain;
	border-radius: 5px;	
}


.Header__brand >h1{
	color: #ffffff;
	margin-left: .5rem;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.5rem;
}

.Header__brand>h1:hover{
	color: #ee6f57;
	transition: all 0.2s ease-out;
}


.Header__navbar{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color: white;
}

.Header__navbar-admin{
	color: whitesmoke;
}

.Header__navbar-social{
	margin-right: 2rem;
	border-right: 2px solid  gray;
	color: whitesmoke;

}

.Header__navbar-links{
	list-style: none;
	display: grid;
	grid-template-columns: repeat(5,auto);
	grid-gap: .5rem;
	text-align: center;
	justify-content: end;

}

.Header__navbar-links-link{
	color: #ffffff;
	text-decoration: none;
	padding: 0.5rem 1rem;
}

.Header__navbar-links-link:hover{
	color: #070d59;
	background-color: #ffffff;
	border-radius: 5px;
	transition: all 0.2s ease-out;
}

.header__mobile{
	display: none;
}

.header__mobile .MuiSvgIcon-root{
	color: #ffffff;
}

@media screen and (max-width: 960px){
	.header__mobile{
		display: flex;
	}

	.Header__brand{
		width: 40%;
	}
	.Header__brand >h1{
		color: #ffffff;
		margin-left: .5rem;
		text-align: center;
		text-transform: uppercase;
		font-size: .8rem;
	}

	.Header{
		position: relative;
		
	}

	.Header__navbar-links{
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;
		position: absolute;
		top: 80px;
		left: -100%;
		opacity: 1;
		transition: all 0.5s ease;		
	}

	.Header__navbar-links.active{
		background-color: #070d59;
		position: absolute;
		top: 80px;
		z-index: 99;
		left: 0;
		opacity: 1;
		transition: all 0.5s ease;
	}

	.Header__navbar-links-link{
		text-align: center;
		padding: 1rem;
		display: table;
		width: 80%;

		}

		.Header__navbar{
			display: flex;
			flex-direction: column-reverse;
			flex-wrap: wrap;
			justify-content: space-between;
			color: white;
		}

}


